@model IEnumerable<SchoolMS.Core.Models.Designation>

@{
    ViewData["Title"] = "Index";
}
@* @if (TempData["Success"] != null)
{
       <script src="~/lib/jquery/dist/jquery.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
       <script type="text/javascript">
        toastr["success"]('@TempData["Success"]');
          
       </script>
   
}
@if (TempData["Update"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr["success"]('@TempData["Update"]');

    </script>

}
@if (TempData["Delete"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr["success"]('@TempData["Delete"]');

    </script>

} *@

<h2 class="text-center">Teacher Title List</h2>

<p>
    <a asp-action="Create" asp-controller="Designation">Create New</a>
</p>
<table class="table" id="tbid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
               @*  <a href="#" onclick="delete_Data('@item.Id')" class="text-danger" title="Delete"></a>
         *@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=@item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
               <a asp-action="Delete" asp-controller="Designation" asp-route-id="@item.Id">Delete</a>
               
            </td>
        </tr>


}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/datatables/js/datatables.bootstrap.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

    <script>
        $(document).ready(() => {

            $("#tbid").dataTable();


        })


    </script>

}

@section style {
    <link href="~/lib/datatables/css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" />
}
