@model List<SchoolMS.Web.ViewModels.ResultView>

@{
    ViewData["Title"] = "CreateResult";
}
@{
    var Entity = Model.FirstOrDefault();
}
@if (Entity != null)
{
    <div>
        <h3 class="text-center fw-bold"> Class Name: @Entity.ClassName</h3>
        <h3 class="text-center"> Student Name: @Entity.StudentName</h3>
        <h4 class="text-center"> Student Id : @Entity.StudentId</h4>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <div class="col-4 text">
                    <label class="form-check-label">Serial </label>
                </div>
                <div class="col-4 text-center">
                    <label class="form-check-label">Subject Name  </label>
                </div>
                <div class="col-4 text-end">
                    <label class="form-check-label">Marks  </label>
                </div>



            </div>
            <form asp-action="CreateResult">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="row">
                        <input type="hidden" asp-for="@Model[i].Serial" />
                        <input type="hidden" asp-for="@Model[i].StudentId" />
                        <input type="hidden" asp-for="@Model[i].SubjectId" />
                        <input type="hidden" asp-for="@Model[i].ClassId" />
                    
                       
                        <div class="col-4 text">
                            <label class="">@Model[i].Serial  </label>
                        </div>
                        <div class="col-4 ">
                            <label class="form-check-label ">@Model[i].SubjectName  </label>
                        </div>
                        <div class="col-4 text-end">
                            <input  type="number" asp-for="@Model[i].Marks" />
                        </div>



                    </div>
                }


                <br />
                <br />
                <input type="submit" value="Submit Result" class="btn btn-primary" asp-action="Create" />

            </form>
        </div>
    </div>

}
else
{
    <p class="text-danger align-content-lg-center">
        No Subject Avilable. Please subject Assign
    </p>
 
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
