@model IEnumerable<SchoolMS.Web.ViewModels.StudentAttendenceView>

@{
    ViewData["Title"] = "StudentAttendenceResult";
}
@{
    var firstStudent = Model.FirstOrDefault();
}


@if (firstStudent != null)
{
    <div>
        <h3 class="text-center"> Student Name: @firstStudent.StudentName</h3>
        <h4 class="text-center"> Student Id : @firstStudent.StudentId</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Serial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendence)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>

                        @if (@item.Attendence >= 0)
                        {
                            <div>
                                @Html.DisplayFor(modelItem => item.Attendence) %
                            </div>


                        }

                        else
                        {
                            <p>0.0%</p>
                        }









                    </td>

                </tr>
            }
        </tbody>
    </table>

}
else
{
 
    <br />
    <br />
    <h3 class="text-center ">NO Subject Assigned this class</h3>
}


